//循环函数 用以生成同类样式
.loop (@className,@i) when (@i >= 0) {
  .@{className}-@{i} {
    width: @i+0%;
  }
  .loop(@className, @i - 1);
}

.da-flex {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  flex-flow: wrap;

  .loop(item, 100);

  .inline, &.inline {
    display: inline-flex;
    width: auto;
  }

  .justify-start, &.justify-start, .start, &.start {
    justify-content: flex-start;
    justify-items: flex-start;
  }

  .justify-center, &.justify-center, .center, &.center {
    justify-content: center;
    justify-items: center;
  }

  .justify-end, &.justify-end, .end, &.end {
    justify-content: flex-end;
    justify-items: flex-end;
  }

  .align-start, &.align-start, .start, &.start {
    align-content: flex-start;
    align-items: flex-start;
  }

  .align-center, &.align-center, .center, &.center {
    align-content: center;
    align-items: center;
  }

  .align-end, &.align-end, .end, &.end {
    align-content: flex-end;
    align-items: flex-end;
  }

  .column, &.column {
    flex-flow: column;
  }

  .fixed, &.fixed {
    position: fixed;
    left: 0;
    right: 0;

    .fixed-top, &.fixed-top {
      top: 0;
    }

    .fixed-bottom, &.fixed-bottom {
      bottom: 0;
    }
  }

  .abs, &.abs {
    position: absolute;
    left: 0;
    right: 0;

    .abs-top, &.abs-top {
      top: 0;
    }

    .abs-bottom, &.abs-bottom {
      bottom: 0;
    }
  }
}
